 #name{
     font-size: 20px;    
     font-weight: 700;
 }
 
#body img{
    width: 90%;
    height: 50%;
}
#label{
    height: 220px;
    width: 100%;
}
#label div h1{
    font-size: 26px; 
    text-transform: uppercase;
} 
#service{
    width: 80%;
}
#service p{
    font-size: 12px;
}
#Resume h1, #part_3 div h3{
    font-size: 25px;
    font-weight: 700;
}
#Resume h2, #award div h3,#award div h4 {
    font-size: 15px;
    font-weight: 700;
}
#award,#blogpic img, #Projects img,#Contact img, #Icons{
    width: 100%;
    padding: 1px;
}
#CVbutton:hover{
    font-weight: 800px;
    border: 2px solid black;
}
#CVbutton{
    width: 50%;
}

#Services h1, #Projects h1, #blog h1, #Contactways h1 {
    font-size: 37px;
    font-weight: 700;
}
#Services p, #Projects p, #blog p,  #Contactways p, #blogpic h5,
#achievement h4, #achievement p, footer, #award div p, #award div h5, #CVbutton{
    font-size: 15px;
    font-weight: 600;
}
#hire{
    background-color: rgb(197, 217, 255);
}
#hire button{
    border: 1px solid rgb(19, 18, 18);
     font-size: large;
    font-weight: 700;
}
#hire button:hover{
    background-color: whitesmoke;
}
#form{
    border: 2px solid rgb(44, 44, 44);
}
#ContactLines img{
    width: 100%;
    height: 150px;
}
#part_3 div{
    background-color: rgb(212, 223, 245);
}
#part_3 div p{
    font-size: 20px;
    font-weight: 500;
}
#Icons a img{
    width: 20%;
}

 @media(min-width: 995px){
     #name, #nav-list a{
     font-size: 35px;
     font-weight: 700;
    }
#nav-list a:hover{
    color: aliceblue;
    border-bottom: 2px white solid;
}
#body{
    height: 60%;
}
#body img{
    width: 40%;
    height: 80vh;
}
#label{  
    height: 320px;
    width: 55%;
    float: right;
    margin-top: 200px;
}
#label div h1{
    font-size: 40px;
}
#label div p, #achievement h4, #achievement p, #hire h3, #hire p, #award h3, #award h4{
    font-size: 30px;
} 
#label1{  
    height: 450px;
    width: 45%;
    float: right;
    margin-top: 150px;
    border-radius: 20px;
}
#label1 div h1{
    font-size: 50px;
} 
#service, span #award, #works{
    width: 30%;
}
#service p{
    font-size: 12px;
}
#skills{
    width: 80%;
}

#Resume h1{
    font-size: 40px;
    font-weight: 800;
}
#Resume h2, #Services p, #Projects p, #blog p,#label1 div p{
    font-size: 20px;
    font-weight: 600;
}
#CVbutton{
     background-color: rgb(188, 188, 226);
     width: 10%;
}
#CVbutton:hover{
    font-weight: 800px;
    border: 2px solid black;
}

#Services h1, #Projects h1, #blog h1{
    font-size: 40px;
}
#works img{
    width: 100%;
    height: 250px;
}
#Projects img{
    width: 32%;
    height: 350px;
}
#blogpic{
   width: 32%;    
   height: 60vh;
}
#blogpic img{
    width: 90%;
    height: 40vh;
}
#achievement{
    width: 24%;
}
#hire button, #part_3 div h3, #award p, #award h5{
    font-size: 25px;
    font-weight: 700;
}
#contactimg{
   width: 40%;
}
#money{
    border: 1px groove rgb(44, 44, 44);
    width: 55%;
}
#ContactLines{
    width: 23%;
    height: 30vh;
}
#ContactLines img{
    width: 90%;
    height: 150px;
}
#part_3 div{
    background-color: rgb(212, 223, 245);
    width:30%;
    height: 30vh;
}
#part_3 div p{
    font-size: 20px;
    font-weight: 500;
}
#Icons a img{
    width: 5%;
}
 footer{
     font-size: 15px;
     font-weight: 700;
     letter-spacing: 2px;
 }
 }

